.dropbtn {
  background-color: #132C57;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Helvetica Neue';
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #132C57;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  font-family: 'Helvetica Neue';
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1

}


.dropdown:hover .dropdown-content {
  display: block;
  color: white;
  font-color:white;
}

.dropdown:hover .dropbtn {
  background-color: #1B3A6F;

}

.footer{
  background: #1b1b1b;
  color:white;
 height: 100%;
  width: 100%;

}


  
  .about-company{
    p, small{font-size: 24px;
      text-align: center
  }
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    
  
  
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 



